#image-crazy-resize{
    width: 300px;
    height: 200px;
}
.icon{
    width: 350px;
    height: 270px;
    border-radius: 10%;
}
header{
    text-align: center;
    font-size:xx-large;
    color:darkgray;
}

footer{
    text-align: center;
    font-size:medium;
    color:darkgray;
}