#image-crazy-resize{
    width: 800px;
    height: 100px;
}
.icon{
    width: 350px;
    height: 270px;
    border-radius: 10%;
}
header{
    text-align: center;
    font-size:xx-large;
    color:rgb(103, 102, 102);
}

main{

}

footer{
    text-align: center;
    font-size:xx-small;
    color:darkgray;
}

p{
    color:rgb(78, 77, 77);
    font-size: xx-large;
    padding: 10%;
}